/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Circular Book';
  src: url('/fonts/lineto-circular-book.eot');
  src: url('/fonts/lineto-circular-book.eot?#iefix') format('embedded-opentype'),
     url('/fonts/lineto-circular-book.woff') format('woff'),
     url('/fonts/lineto-circular-book.ttf') format('truetype'),
     url('/fonts/lineto-circular-book.svg#CircularBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Circular Book';
  font-size: 17px;
  color: #222;
}

p {
  margin-top: 15px;
  line-height: 25px;
}

a {
  color: #222;
  border-bottom: 1px solid #F0C46E;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  border-bottom: none;
  text-decoration: none;
}

#hero {
  background: url('/pics/L1120397.jpg') top center no-repeat;
  background-size: cover;
  color: white;
  height: 800px;
  white-space: nowrap;
  text-align: center;
}

#hero-mask {
  background: rgba(5, 37, 60, 0.55);
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.4) inset;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
}

#hero::before {
  display: inline-block;
  vertical-align: middle;
  content: ' ';
  width: 0px;
  height: 100%;
}

#hero-text {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  white-space: normal;
}

#hero-text > h1 {
  font-family: "cubano";
  letter-spacing: 2px;
  font-size: 70px;
}

#hero-text > h2 {
  color: #F0C46E;
  font-family: "learning-curve";
  font-size: 48px;
  margin-top: 30px;
}

#content > div {
  border-top: 1px solid #e6e6e6;
  padding: 80px;
}

#content > div:nth-child(1) {
  border-top: none;
}

#content > div > div {
  margin: 0px auto;
  max-width: 1000px;
}

#content h2 {
  color: #062E50;
  font-family: "cubano";
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#content p.time {
  color: #888;
  margin-top: 35px;
  white-space: nowrap;
}

#content p.time > * {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

#content p.time > i {
  background: #F0C46E;
  border-radius: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
}

#content p.time > i::before {
  display: inline-block;
  vertical-align: middle;
  content: ' ';
  width: 0px;
  height: 100%;
}

#content p.time > i .fa-lg {
  color: white;
  font-size: 19px;
  display: inline-block;
  vertical-align: middle;
}

#content p.time a {
  color: #888;
  border-bottom: 1px solid #F0C46E;
}

#content p.time a:hover {
  color: #888;
  border-bottom: none;
}

#content p.time > span {
  margin-left: 5px;
}

#bitcoin {
  display: none;
  margin-top: 30px;
  line-height: 20px;
  text-align: center;
}

#bitcoin > code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: #999;
  font-size: 10px;
}

@media only screen and (max-width: 600px) {
  #content > div {
    padding: 60px 40px;
  }
}
